* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white-color: white;
    --black-color: black;
    --main-color: #eeefee;
}

.dark-mode {
    --white-color: black;
    --black-color: white;
    --main-color: #242524;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.clock {
    background-color: var(--white-color);
    width: 400px;
    height: 400px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1), 0 25px 45px rgba(0, 0, 0, 0.1);
    position: relative;
}

.clock label {
    position: absolute;
    inset: 20px;
    text-align: center;
    transform: rotate(calc(var(--i) * (360deg / 12)));
}

.clock label span {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    color: var(--black-color);
    transform: rotate(calc(var(--i) * (-360deg / 12)));
}

.clock .indicoters {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.clock .indicoters::after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--black-color);
    position: absolute;
}

.clock .hand {
    position: absolute;
    height: 130px;
    width: 4px;
    bottom: 5px;
    border-radius: 25px;
    transform-origin: bottom;
    background: red;
}

.clock .hand.minutes {
    width: 5px;
    height: 120px;
    background: var(--black-color);
}

.clock .hand.hours {
    width: 8px;
    height: 100px;
    background-color: var(--black-color);
}

.mode-switch {
    text-align: center;
    color: var(--white-color);
    background: var(--black-color);
    padding: 15px 32px;
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 100;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1), 0 25px 45px rgba(0, 0, 0, 0.1);
}

.mode-switch:hover {
    border-radius: 20px;
}